<?xml version="1.0"?>
<model>
  <name>x500_unilidar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Claudio Chies</name>
    <email>claudio.chies@auterion.com</email>
  </author>
  <description>An x500 with Unitree 4D LiDAR L2 (360° horizontal, 90° vertical FOV) with integrated IMU</description>
</model>
